extends layout

block content
	h1= title
	.container
		.section
			p
				| Enter your scenario 
				button#paste-button paste from clipboard
			textarea#code-scenario.code-textarea
		.section
			p
				| Result 
				button#copy-button copy
			textarea#code-result.code-textarea