body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #123;
    color: white;
}

.title{
	text-decoration: none;
	color: #fff;
	font-size: 2em;
}

.code-textarea {
	resize: vertical;
	width: 90%;
	min-height: 200px;
	margin-top: 10px;
	color: white;
    background-color: #123;
}

.container{
	width: 100%;
}

.section{
	width: 50%;
	display: inline-block;
}

.github-corner:hover .octo-arm{
	animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave{
	0%,100%{
		transform:rotate(0)
	}20%,60%{
		transform:rotate(-25deg)
	}40%,80%{
		transform:rotate(10deg)
	}
}

@media (max-width:500px){
	.github-corner:hover .octo-arm{
		animation:none
	}
	.github-corner .octo-arm{
		animation:octocat-wave 560ms ease-in-out
	}
}

#loader {
	margin-left: 5px;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #151513;
    width: 15px;
    height: 15px;
	-webkit-animation: spin 0.5s linear infinite; /* Safari */
	animation: spin 0.5s linear infinite;
	display: none;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}