body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.code-textarea {
	resize: vertical;
	width: 90%;
	min-height: 200px;
}

.container{
	width: 100%;
}

.section{
	width: 50%;
	display: inline-block;
}